{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="infoform">
        <form method="POST"> 
            {% csrf_token %} 
            <div class="border-bottom pb-4 d-flex align-items-center flex-column">
                <h2 class="pb-2"><b>Settings</b></h2>
                <div>Please choose which services to include</div>
            </div>
			<div class="pt-4">{{ form | crispy }} </div>
            <div class="mt-4 d-flex justify-content-center">
                <input type="submit" value="Save" class="btn add-btn"> 
            </div>
        </form>
    </div>
</div>
{% endblock %}