{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet"/>

<style>
	.map {
		height: 500px;
	}
	#info {
		display: table;
		position: relative;
		margin: 0px auto;
		word-wrap: anywhere;
		white-space: pre-wrap;
		padding: 10px;
		border: none;
		border-radius: 3px;
		font-size: 12px;
		text-align: center;
		color: #222;
		background: #fff;
	}
</style>

<div class="container">
    <!-- Update form -->
    <form method="POST" enctype="multipart/form-data"> <!-- enctype needed to save image -->
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Configure</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
      </fieldset>
	  {{ active_profile.user_id }}
	  <div id="map" class="map mb-3"></div>
       <div class="form-group d-flex">
           <button class="btn add-btn mr-auto" type="submit">Update</button>
		   <a class="ml-2 btn neg-btn" href="{% url 'profile' profile_id %}">Cancel</a>
       </div>
    </form>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoiamx0c2FuZyIsImEiOiJjbGVpODE2bDAwdzh1M3ZsZGVyM2RwM3NkIn0.tqAoS6z_fUkuy6BTdA3XJA';
	/**
	* Add the map to the page
	*/
  
	const map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v12',
		center: [{{ active_profile.longitude }}, {{ active_profile.latitude }}],
		zoom: 18,
		pitch: 40,
		bearing: 20,
		antialias: true,
	});

	map.addControl(new mapboxgl.ScaleControl({maxWidth:100}));

	map.on('mousemove', (e) => {
		document.getElementById('info').innerHTML =
		// `e.point` is the x, y coordinates of the `mousemove` event
		// relative to the top-left corner of the map.
		JSON.stringify(e.point) +
		'<br />' +
		// `e.lngLat` is the longitude, latitude geographical position of the event.
		JSON.stringify(e.lngLat.wrap());
	});

	const lng = document.getElementById('id_longitude');
	const lat = document.getElementById('id_latitude');

	var marker = new mapboxgl.Marker().setLngLat([lng.value, lat.value]).addTo(map);

	function add_marker (e) {
		var coordinates = e.lngLat;
		lng.value = coordinates.lng;
		lat.value = coordinates.lat;
		console.log('Lng:', coordinates.lng, 'Lat:', coordinates.lat);
		marker.setLngLat(coordinates).addTo(map);

	}

	map.on('click', add_marker);

</script>
{% endblock content %}